/db.sqlite3
/musictargeting/api/migrations/0001_initial.py
/musictargeting/api/migrations/0002_auto_20201120_1207.py
/musictargeting/api/migrations/0003_auto_20201120_1209.py
/musictargeting/api/migrations/0004_auto_20201120_1521.py
